Importar Pandas

In [19]:
import pandas as pd

Leer el dataset desde: https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/f4495ee9-c42c-4019-82c1-d067f07e45d2/download/tmp7_f32p54.csv

In [20]:
df = pd.read_csv('https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/f4495ee9-c42c-4019-82c1-d067f07e45d2/download/tmp7_f32p54.csv')

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3398: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Mostrar las primeras 10 filas

In [21]:
df.head(10)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,PLTEST005,520,NaN,BURGLARY - RESIDENTIAL,B2,289,1,2021-10-13 00:00:00,2021,10,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
1,PLTEST003,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
2,PLTEST002,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
3,PLTEST001,3114,NaN,INVESTIGATE PROPERTY,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0.000000,0.000000,"(0, 0)"
4,312030979,3201,NaN,PROPERTY - LOST/ MISSING,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
5,292152228,3301,NaN,VERBAL DISPUTE,C11,347,0,2021-07-28 20:45:00,2021,7,Wednesday,20,NaN,LYON ST,42.306383,-71.060212,"(42.30638322801941, -71.06021217719662)"
6,282080177,3801,NaN,M/V ACCIDENT - OTHER,A1,,0,2021-11-02 13:23:00,2021,11,Tuesday,13,NaN,CAMBRIDGE ST & BOWDOIN ST\nBOSTON MA 02114\nU...,42.361190,-71.062880,"(42.361189964341946, -71.06287997127626)"
7,222000453,617,NaN,LARCENY THEFT FROM BUILDING,E13,,0,2021-12-30 12:30:00,2021,12,Thursday,12,NaN,MONTEBELLO RD,42.311768,-71.099716,"(42.31176765436927, -71.09971563708591)"
8,222000599,1106,NaN,FRAUD - CREDIT CARD / ATM FRAUD,B2,282,0,2021-12-29 22:40:00,2021,12,Wednesday,22,NaN,WASHINGTON ST,42.328663,-71.085634,"(42.32866283555608, -71.08563401183545)"
9,222000592,1102,NaN,FRAUD - FALSE PRETENSE / SCHEME,A1,98,0,2021-11-23 00:00:00,2021,11,Tuesday,0,NaN,MILK ST,42.356733,-71.057559,"(42.356733021573184, -71.05755938440176)"

Mostrar las columnas del dataframe

In [22]:
df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

¿Cuántas filas tiene el dataset?

In [23]:
df.shape[0]

71721

¿Cuál es el código de ofensa más realizada?

In [31]:
col = df.OFFENSE_CODE
col.value_counts(sort=True)[:1] # codigo , apariciones

3115    6841
Name: OFFENSE_CODE, dtype: int64

¿Cuál es el código de ofensa más realizada los días miércoles?

In [41]:
col = df[df.DAY_OF_WEEK == 'Wednesday'].OFFENSE_CODE
col.value_counts(sort=True)[:1]

3115    1029
Name: OFFENSE_CODE, dtype: int64

Ordenar el dataframe por el campo Street y mostrar las 10 primeras entradas

In [42]:
df.sort_values(by='STREET')

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
2651,212092024,3115,NaN,INVESTIGATE PERSON,A1,,0,2021-12-16 14:07:00,2021,12,Thursday,14,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
47829,212031320,540,NaN,BURGLARY - COMMERICAL,A1,,0,2021-05-13 15:14:00,2021,5,Thursday,15,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
43232,212037399,3114,NaN,INVESTIGATE PROPERTY,A1,,0,2021-06-05 10:28:00,2021,6,Saturday,10,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
14772,212075340,423,NaN,ASSAULT - AGGRAVATED,A1,,0,2021-10-17 00:23:00,2021,10,Sunday,0,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
5496,212087601,616,NaN,LARCENY THEFT OF BICYCLE,A1,,0,2021-11-30 15:15:00,2021,11,Tuesday,15,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50164,212028173,3807,NaN,M/V ACCIDENT - OTHER CITY VEHICLE,B3,,0,2021-05-01 11:05:00,2021,5,Saturday,11,NaN,NaN,42.291741,-71.077179,"(42.29174103255666, -71.07717899069988)"
50185,212028147,3831,NaN,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,,0,2021-05-01 08:24:00,2021,5,Saturday,8,NaN,NaN,42.327987,-71.099354,"(42.32798700396488, -71.09935402988641)"
50198,212028130,3006,NaN,SICK/INJURED/MEDICAL - PERSON,A1,111,0,2021-05-01 03:00:00,2021,5,Saturday,3,NaN,NaN,42.352370,-71.062600,"(42.352370011853225, -71.06259996388145)"
50201,212028127,3802,NaN,M/V ACCIDENT - PROPERTY DAMAGE,B2,320,0,2021-05-01 02:33:00,2021,5,Saturday,2,NaN,NaN,42.308468,-71.083277,"(42.30846803058291, -71.08327694723572)"
71295,210209890,3115,NaN,INVESTIGATE PERSON,A1,162,0,2021-05-14 10:00:00,2021,5,Friday,10,NaN,NaN,42.347321,-71.064412,"(42.34732103019411, -71.06441203938374)"

Pasar a minúsculas todos las descripciones de ofensas

In [50]:
df.OFFENSE_DESCRIPTION = df.OFFENSE_DESCRIPTION.str.lower()
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,PLTEST005,520,NaN,burglary - residential,B2,289,1,2021-10-13 00:00:00,2021,10,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
1,PLTEST003,3114,NaN,investigate property,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
2,PLTEST002,3114,NaN,investigate property,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
3,PLTEST001,3114,NaN,investigate property,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0.000000,0.000000,"(0, 0)"
4,312030979,3201,NaN,property - lost/ missing,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71716,121005808,1102,NaN,fraud - false pretense / scheme,B3,289,0,2021-01-19 12:00:00,2021,1,Tuesday,12,NaN,CLARKWOOD ST,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
71717,121000816,3304,NaN,noisy party/radio-no arrest,E5,675,0,2021-01-04 00:00:00,2021,1,Monday,0,NaN,BRADFIELD AVENUE,0.000000,0.000000,"(0, 0)"
71718,120221042,3006,NaN,sick/injured/medical - person,E5,680,0,2021-04-02 10:45:00,2021,4,Friday,10,NaN,WASHINGTON ST,42.283902,-71.130863,"(42.283902436483125, -71.13086262643496)"
71719,10637224,3125,NaN,warrant arrest - boston warrant (must be suppl...,D4,270,0,2021-01-26 18:54:00,2021,1,Tuesday,18,NaN,NORTHAMPTON ST,42.333951,-71.075389,"(42.333951248393774, -71.07538938822692)"
71720,23844463,3115,NaN,investigate person,C6,,0,2021-10-16 01:16:00,2021,10,Saturday,1,NaN,G ST & E 8TH ST\nBOSTON MA 02127\nUNITED STATES,42.331320,-71.044080,"(42.33132003900925, -71.04407996166562)"

¿Cuál es la distribución en deciles de la Latitud de los crímenes?

<bound method DataFrame.info of       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
0           PLTEST005           520                 NaN
1           PLTEST003          3114                 NaN
2           PLTEST002          3114                 NaN
3           PLTEST001          3114                 NaN
4           312030979          3201                 NaN
...               ...           ...                 ...
71716       121005808          1102                 NaN
71717       121000816          3304                 NaN
71718       120221042          3006                 NaN
71719        10637224          3125                 NaN
71720        23844463          3115                 NaN

                                     OFFENSE_DESCRIPTION DISTRICT  \
0                                 burglary - residential       B2
1                                   investigate property       B2
2                                   investigate property       B2
3                                   investigate property       B2
4                               property - lost/ missing      E13
...                                                  ...      ...
71716                    fraud - false pretense / scheme       B3
71717                        noisy party/radio-no arrest       E5
71718                      sick/injured/medical - person       E5
71719  warrant arrest - boston warrant (must be suppl...       D4
71720                                 investigate person       C6

      REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
0                289         1  2021-10-13 00:00:00  2021     10   Wednesday
1                289         0  2021-05-12 00:00:00  2021      5   Wednesday
2                289         0  2021-05-12 00:00:00  2021      5   Wednesday
3                            0  2021-03-29 00:00:00  2021      3      Monday
4                465         0  2021-03-22 00:00:00  2021      3      Monday
...              ...       ...                  ...   ...    ...         ...
71716            289         0  2021-01-19 12:00:00  2021      1     Tuesday
71717            675         0  2021-01-04 00:00:00  2021      1      Monday
71718            680         0  2021-04-02 10:45:00  2021      4      Friday
71719            270         0  2021-01-26 18:54:00  2021      1     Tuesday
71720                        0  2021-10-16 01:16:00  2021     10    Saturday

       HOUR  UCR_PART                                            STREET  \
0         0       NaN                                     SCHROEDER PLZ
1         0       NaN                                     SCHROEDER PLZ
2         0       NaN                                     SCHROEDER PLZ
3         0       NaN                                   SCHROEDER PLAZA
4         0       NaN                                     BLUE HILL AVE
...     ...       ...                                               ...
71716    12       NaN                                      CLARKWOOD ST
71717     0       NaN                                  BRADFIELD AVENUE
71718    10       NaN                                     WASHINGTON ST
71719    18       NaN                                    NORTHAMPTON ST
71720     1       NaN  G ST & E 8TH ST\nBOSTON  MA 02127\nUNITED STATES

             Lat       Long                                  Location
0      42.333679 -71.091878   (42.33367921810846, -71.09187754618458)
1      42.333679 -71.091878   (42.33367921810846, -71.09187754618458)
2      42.333679 -71.091878   (42.33367921810846, -71.09187754618458)
3       0.000000   0.000000                                    (0, 0)
4      42.284826 -71.091374   (42.28482576580488, -71.09137368938802)
...          ...        ...                                       ...
71716  42.333679 -71.091878   (42.33367921810846, -71.09187754618458)
71717   0.000000   0.000000                                    (0, 0)
71718  42.283902 -71.130863  (42.283902436483125, -71.13086262643496)
71719  42.333951 -71.075389  (42.333951248393774, -71.07538938822692)
71720  42.331320 -71.044080   (42.33132003900925, -71.04407996166562)

[71721 rows x 17 columns]>

Crear una nueva columna con la longitud de la calle donde sucedió el crimen

¿Cuál es la suma de las longitudes calculadas?

¿Y la mediana?

¿Cuál es el promedio de esas mismas longitudes pero agrupando los datos en cada día de la semana?